* {
    font-family: Roboto, sans-serif;
}

input {
    width: 500px;
    max-width: 100%;
}

table * {
    font-family: 'Inconsolata', monospace;
}

table {
    border-collapse: collapse;
}

th, td {
    letter-spacing: 1em;
    padding: 0.5em 0 0.5em 1em;
    text-align: center;
}

td {
    border: 1px solid #ddd;
}

.align-center {
    text-align: center;
}